.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.play-again-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 1.5rem;
  font-weight: bold;
}

.participant {
  color: red;
}